{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <div class="container">
        <div id="welcome">
            <h1><span>Welcome to</span> Symfony {{ constant('Symfony\\Component\\HttpKernel\\Kernel::VERSION') }}</h1>
        </div>

        <div id="status">
            <p>
                Your application is now ready. You can start working on it at:
                <code>{{ base_dir }}</code>
            </p>
        </div>

        <div class="linkSection mt-30">
            <div class="row">
                <div id="left-menu" class="col-sm-6">
                    <h3>Menú 1</h3>
                    <ul>
                        <li><a href="{{ path('homepage') }}">Home</a></li>
                        <li><a href="{{ path('text-bitcoin-price') }}">Bitcoin price (text)</a></li>
                        <li><a href="{{ path('my_wallet') }}">My wallet</a></li>
                        <li><a href="{{ path('homepage') }}">Test link D</a></li>
                    </ul>
                </div>
                <div id="right-menu" class="col-sm-6">
                    <h3>JSON Responses</h3>
                    <ul>
                        <li><a href="{{ path('json-bitcoin-price') }}">JSON Bitcoin price</a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}
